/* 
    Document   : print
    Created on : 10/02/2014, 19:51:15
    Author     : hermes
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family:"Courier New", Courier, monospace;
    font-size: 11px;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
#navigation, .do-not-print, #menu {display:none}
.noprint, pre.copyright {
    display:none;
}
@media print {
     #page1, #page2 {
        display: block;
        visibility: visible;
        position: relative;
     }
}
@media print {
.header, .hide { visibility: hidden }
}
